<style>
  #search-input {
    font-size: 12px;
  }
</style>

{% extends 'base.html' %} {% block content %}

<div class="text-center">
  <h1>Task List</h1>

  <a href="{% url 'create' %}" class="btn btn-primary">Add Task</a>
</div>

<table class="table">
  <thead>
    <tr>
      <th>
        <a class="inline" href="?order_by=title">Title</a>
        <input
          type="text"
          id="search-input"
          placeholder="eg. Ecommerce Backend"
        />
      </th>
      <th>
        <a class="inline" href="?order_by=created">Created</a>
      </th>
      <th>
        <a class="inline" href="?order_by=due">Due</a>
      </th>
      <th>
        <a class="inline" href="?order_by=priority">Priority</a>
      </th>
      <th>
        <a class="inline" href="?order_by=status">Status</a>
      </th>
    </tr>
  </thead>

  <tbody>
    {% for task in tasks %}
    <tr>
      <td>
        <a href="{% url 'details' task.pk %}">{{ task.title }}</a>
      </td>
      <td>{{ task.creation_date }}</td>
      <td>{{ task.due_date }}</td>
      <td>{{ task.priority }}</td>
      <td>{% if task.is_complete %}Complete{% else %}Incomplete{% endif %}</td>
    </tr>
    {% empty %}
    <tr>
      <td colspan="6">No tasks found</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
